
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marca!</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Marca!</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/marca/add">Add marca</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/user/admin">Regresar</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        
        <% if(data.length) { %>
        <table class=" table">
            <thead class = "table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Pais</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].nombremar%></td>
                    <td><%= data[i].pais%></td>
                    <td>
                        <a class="btn btn-success edit" href="../marca/edit/<%=data[i].idmarca%>">Edit</a>             
                          <!-- <a class="btn btn-secondary delete" onclick="return alert('Are You sure?')" href="../marca/delete/<%=data[i].idmarca%>">Delete</a>    -->        
                                            
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No marca found!</p>
        <% } %>

        </div>
    </div>

</body>
</html>