<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Asignar</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body class="container" style="margin-top: 50px;">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card border-secondary"> 
    	<div class="card-header">
			Add Tecnicos
		</div>
        <div class="card-body">
            <form action="/asignacion/add" method="post">
                <div class="form-group">
                    <label>Mantenimiento:</label>
                    <select class="custom-select" name="idMantenimientoAsignacion" >
                        <option value="">Seleccione un mantenimeinto:</option>
                        <% for(var i = 0; i< dataMan.length; i++) { %>
                            <option value="<%= dataMan[i].idmantenimiento%>"><%= dataMan[i].nombreman%></option>
                        <% } %>
                      </select>
                </div>
                <div class="form-group">
                    <label for="exampleSelect2">Tecnico</label>
                    <select multiple="" class="form-control" id="exampleSelect2" name="idUsuarioAsignacion">
                        <% for(var i = 0; i< dataUsuario.length; i++) { %>
                            <option value="<%= dataUsuario[i].idusuario%>"><%= dataUsuario[i].usuario%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>