<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hospital!</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Doctor!</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/doctorA/add">Add doctor</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/user/admin">Regresar</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        
        <% if(data.length) { %>
        <table class=" table">
            <thead class = "table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Password</th>
                    <th scope="col">Hospital</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].nombredoctor%></td>
                    <td><%= data[i].passworddoctor%></td>
                    <td><%= data[i].nombrehos%></td>
                    <td>
                        <a class="btn btn-success edit" href="../doctorA/edit/<%=data[i].iddoctor%>">Edit</a>              
                        <!-- <a class="btn btn-secondary delete" onclick="return alert('Are You sure?')" href="../categoria/delete/<%=data[i].idcategoria%>">Delete</a>   -->         
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No doctor found!</p>
        <% } %>

        </div>
    </div>

</body>
</html>